@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0, 1, 100%;
}

#pixel-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.header {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.footer {
    margin: 1rem;
    font-size: 0.75rem;
    text-align: center;
}

.grid-element {
    border: 1px solid black;
}

.filled {
    background-color: black;
}

button {
    margin: 1rem;
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
}

label {
    font-size: 1.5rem;
}
